header {
	background: #BBBBBB;
	padding:20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin:0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right:0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration:none;
}

nav a:hover {
 	color: #C17C18;
 	text-decoration: underline;

}

.principal{
	background: #FFFFFF;
	padding: 40px;
	
}

.titulo-centralizado {
	text-align: center;
	font-size:22px;
	font-weight: bold;

}

.sobrealura {
	text-align:center;
	width:70%;
	margin: 10px auto;
	font-size:20px;
}

#missao {
	font-size: 22px;
	text-align:center;
	padding: 15px;
	font-style: italic;
}

#missao strong {
	color: #C17C18;
	text-decoration: underline;
}

.itens {
	text-align: center;
	font-style: italic;
	font-size:20px;
	padding:20px;
	transition: 1s all;
}

.itens:hover {
  	color: #C17C18;
  	
}
 	

.beneficios {
	background: url(bG.jpg);
	padding: 20px;
	border:3px solid #000000;
	border-radius: 25px;
	width: 940px;
	margin: 0 auto;
	text-align: center;
	
}

h3 {
	color: #FFFFFF;
}

.beneficios ul {
	color:#FFFFFF;
	display: inline-block;
	vertical-align: top;
	margin: 5% 8%;
	box-sizing: border-box;
}

.imagembeneficios {
	margin: 2% 0;
	width: 50%;
	box-sizing: border-box;
	border-radius:15px;
}

footer {
	margin-top: 40px;
	background: url(bg.jpg);
	text-align: center;
	padding: 40px 0 ;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0 ;
}